*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --primary-color-1: #5CE1E6 ;
    --primary-color-2: #BE4222 ;
    --whilte-color: #fff;
    --text-color: #00000;
    --background-color: #D9D9D9;
}
html {
    font-family: 'Baloo 2', cursive;
}
body{
    overflow-x: hidden;
}
.grid {
    width: 1200px;
    margin: 0 auto;
    
}

.grid_full-width {
    width:100%;
}
.grid_row {
    display:flex;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
}
.col-8{
    width: 12.5%;
    padding-left: 10px;
    padding-right: 10px;
}
#header{
     box-shadow: 0 4px 6px gray;
     width: 100vw;
     height:100px ;
     overflow: hidden;
}
.container{

}
.header_logo{

}
.logo_link{

}
.logo_img{
   width: 90px;
   margin: 3px 0 0 50px;
}
.nav{
   line-height: 100px;
    margin-left: 30px;
}
.nav_list{
  display: flex;
 line-height: 100px;

}
.nav_list-item{
   list-style: none;
   padding: 0 25px;
}
.nav_list-item:hover .nav_list-item--link{
    color: var(--primary-color-1);
    transition: 0.2s ease-out;
}
.nav_list-item--link{
   text-decoration: none;
   font-size: 20px;
   color: var(--text-color);
   font-weight: 900;
}
.nav_list-item--icon{
     padding: 0 10px;
}
.select{
    position: relative;
    height: 697px;
    width: 100%;
}
.banner{
    position: absolute;
    height: 120%;
    width: 100%;
    background-image: url(https://www.checkraka.com/uploaded/logo/4b/4bcce88dfe44b657286960f96dbc6c6c.jpg);
    background-size: cover;
    background-size: 100% 100%;
}

.banner1{
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url(https://luxurycar1.com/image/cache/catalog/Slide/banneroto-1920x800.jpg);
    background-size: cover;
    background-size: 100% 100%;
}

.banner-text{
    position: relative;
    top: 110px;
    left: 110px;
}
.banner-text{
    font-size: 4rem;
    font-weight: 900;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: Regular;
    width: 500px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 130px;
    -webkit-line-clamp: 3;
    height: 600px;
     display: -webkit-box;
    -webkit-box-orient: vertical;
}
.content{
    position: relative;
    top: 900px;
}
.introduce{
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
}
.introduce-title{
    text-align: center;
    font-size: 4rem;
    font-weight: 600;
}
.introduce-list{
    margin: 50px 100px;
    display: flex;
}
.introduce-item{
    margin: 0 30px;
    position: relative;
    top: 0;
    background-color: rgba(245, 241, 241, 0.5);
}
.introduce-img{
    width: 700px;
    border: 2px solid rgba(3, 3, 3);
    border-radius: 2px;
    cursor: pointer;
}

.introduce-img:hover{
    transform: scale(1.1);
}

.introduce-name{
    position: relative;
    margin-left: 20px;
    margin-top: 25px;
    font-size: 3rem;
    font-weight: 700;
    top: -16px;
}
.introduce-content{
    font-size: 2.5rem;
    line-height: 3rem;
    margin-left: 20px;
}

.introduce-btn {
    width: 100px;
    height: 34px;
    font-size: 16px;
    font-weight: 900;
    font-family: var(--text-font);
    color: #ffff;
    background-color: black;
    position: absolute;
    bottom: 80px;
    right: 90px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 var(--primary-color-1);
    transition: all 0.2s ease-out;
}

.introduce-btn:hover{
    box-shadow: inset 100px 0 0 0 var(--primary-color-1);
    transition: all 0.2s ease-in;
}

.introduce2{
    position: absolute;
    width: 1320px;
    height: 1212px;
    align-items: center;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/d/d5/Latin_Africa_%28orthographic_projection%29.svg/1200px-Latin_Africa_%28orthographic_projection%29.svg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    top: 1050px;
    left: 70px;
    margin: 0 30px;
    display: inline-block;
}

.introduce2-name{
    text-align: center;
    font-size: 4.2rem;
    line-height: 3rem;
}
.number{
    color: red;
}
.introduce2-list{
    position: absolute;
    margin: 90px auto;
    display: inline-block;
    cursor: pointer;
    left: 100px;
}
.introduce2-img{
    margin: 50px 0;
    border-radius: 20px;
    height: 300px;
    width: 500px;    
    box-shadow: 2px 0 5px black;
}

.introduce2-img:hover{
    transform: scale(1.1);
}

.introduce3-list{
    position: absolute;
    right: 70px;
    bottom: 90px;
    margin: auto auto;
    display: inline-block;
    cursor: pointer;
}

#footer{
    height: 600px;
    background-image: url("/image/bg_footer.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 0;
    top: 3200px;
}

#footer2{
    /* margin-top: 0px; */
}

#footer::before{
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -1;

}
.footer_title{
   font-size: 70px;
   font-weight: 900;
   text-shadow: 0 0 5px #fff;
   color: var(--primary-color-1);
   padding-top: 50px;
}
.footer_content{
  margin-top: 80px;
  float: left;
}
.content_1{
    width: 33.3333%;
}
.content_2{
    width: 25%;
    margin-left: 100px;
}
.content_3{
    width: 25%;
    margin-left: 100px;
}
.content_title{
  font-size: 30px;
  font-weight: 900;
  color: #fff;
  padding-bottom: 20px;
}
.content_text-list{
   
}
.content_text-list_item{
   display: flex;
   align-items: center;
   list-style: none;
   padding: 10px 0;
   
}
.fa-solid{

}
.fa-location-dot{

}
.text-list_item--icon{
    position: absolute;
    color: rgba(255,255,255,0.7);
} 

.text-list_item--link{
    font-size: 20px;
    color: rgba(255,255,255,0.7);
    text-decoration: none;
    line-height: 25px;
    margin-left: 15px;
}
.fa-phone{

}
.store_list-button{
   width: 100%;
   background-color: #fff;
   text-align: center;
   border-radius: 5px;
   padding: 10px 0;
   margin-top: 10px;
   transition: all 0.2s ease-out;
}
.store_list-button:hover{
   background-color: #5CE1E6;
   transition: all 0.2s ease-in;
   cursor: pointer;
}
.store_list-button:hover .store_list-button-link{
  color: #ffff;
  font-size: 19px;
  transition: all 0.2s ease-in;
}
.store_list-button-link{
   text-decoration: none;
   color: var(--text-color);
   font-weight: 900;
   font-size: 20px;
   transition: all 0.2s ease-out;
} 
.fa-envelope{

}
.social-contact{
  width: 100%;
  margin-top: 30px;
}
.social-contact_list{
   display: flex;
   justify-content: space-around;
}
.social-contact_list-item{
     list-style: none;
     transition: all 0.2s ease-out;
    
}
.social-contact_list-item:hover{
   transform: translateY(-10px);
   transition: all 0.2s ease-in;
}
.social-contact_list-item--link{
   font-size: 40px;
   color: #ffff;
}
.social-contact_list-item--link:hover{
  
}


.social-contact_list-item--icon{

}
.fa-brands{

}
.fa-facebook{

}
.fa-tiktok{

}
.fa-youtube{

}
.fa-instagram{

}
.content_title{

}
.content_text{ 
    font-size: 25px;
    color: rgba(255,255,255,0.7);
    line-height: 25px;
    margin-bottom: 20px;
}
.info_register{
  width: 100%; 
  position: relative;
  top: 30px;
}
.info_register-input{
  width: 100%;
  font-size: 16px;
  padding: 10px 10px;
  outline: none;

}
.info_register-btn{
   width: 100px;
   height: 34px;
   font-size: 16px;
   font-weight: 900;
   font-family: var(--text-font);
   color: #ffff;
   background-color: black;
   position: absolute;
   right: 5px;
   top: 4px;
   cursor: pointer;
   box-shadow: inset 0 0 0 0 var(--primary-color-1);
   transition: all 0.2s ease-out;

}
.info_register-btn:hover{
    box-shadow: inset 100px 0 0 0 var(--primary-color-1);
    transition: all 0.2s ease-in;
}

.background{
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(-45deg, #1e3094, #95577e, #fa8e44);
    background-size: 400% 400%;
    animation: gradient 5s ease infinite;
    -webkit-tap-highlight-color: transparent;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


.header-with-search {
    height: var(--search-height);
    display: flex;
    align-items:center;
    margin: 0 8px;
}
.header__logo {
    width:300px;

}
.header__logo-img {
    width: 150px;
    margin-left: 110px;
    position: relative;
}

.header__logo-img__picture{
    width: 111px;
    height: 80px;
    position: relative;
    right: -40px;
}

.heder__logo-img-car{
    height: 150px;
    width: 150px;
    position:absolute;
    top: -10px;
    left: 200px;
}